@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

.background {
  background-image: repeating-linear-gradient(
      135deg,
      rgba(13, 13, 13, 0.09) 0px,
      rgba(13, 13, 13, 0.09) 36px,
      rgba(229, 229, 229, 0.09) 36px,
      rgba(229, 229, 229, 0.09) 72px,
      transparent 72px,
      transparent 108px,
      rgba(163, 163, 163, 0.09) 108px,
      rgba(163, 163, 163, 0.09) 144px,
      rgba(21, 21, 21, 0.09) 144px,
      rgba(21, 21, 21, 0.09) 180px
    ),
    repeating-linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.08) 0px,
      rgba(0, 0, 0, 0.08) 14px,
      transparent 14px,
      transparent 28px,
      rgba(0, 0, 0, 0.08) 28px,
      rgba(0, 0, 0, 0.08) 42px,
      transparent 42px,
      transparent 56px,
      rgba(0, 0, 0, 0.08) 56px,
      rgba(0, 0, 0, 0.08) 70px
    ),
    repeating-linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.08) 0px,
      rgba(0, 0, 0, 0.08) 23px,
      transparent 23px,
      transparent 46px,
      rgba(0, 0, 0, 0.08) 46px,
      rgba(0, 0, 0, 0.08) 69px,
      transparent 69px,
      transparent 92px,
      rgba(0, 0, 0, 0.08) 92px,
      rgba(0, 0, 0, 0.08) 115px
    ),
    repeating-linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.04) 0px,
      rgba(0, 0, 0, 0.04) 6px,
      transparent 6px,
      transparent 12px,
      rgba(0, 0, 0, 0.04) 12px,
      rgba(0, 0, 0, 0.04) 18px,
      transparent 18px,
      transparent 24px,
      rgba(0, 0, 0, 0.04) 24px,
      rgba(0, 0, 0, 0.04) 30px
    ),
    linear-gradient(135deg, rgb(11, 18, 11), rgb(127, 44, 0));
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  background-color: rgb(41, 37, 37);
}

.app {
  width: min(100% - 50px, 650px);
}

.glass-effect {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.1px);
  -webkit-backdrop-filter: blur(2.1px);
  border: 1px solid rgba(255, 255, 255, 0.12);
}

/* scrollbar styles */

/* width */
::-webkit-scrollbar {
  height: 8px;
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
  border-radius: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
